<% include partials/header %>


<h2>Register new user</h2>
<div class="ui grid">
    <div class="ten wide column">
        <form class="ui form userform" action="/register" method="POST">
            <div class="field">
                <input type="text" name="username" placeholder="Username" required>
            </div>
            <div class="field">
                <input type="password" name="password" placeholder="Password" required>
            </div>
            <div class="field">
                <button class="ui blue button">Register</button>
            </div>
        </form>
    </div>
    <div class="six wide column" id="rules">
        <h4>Password requirements</h4>
        <p>
            Upper-case letters<br>
            Lower-case letters<br>
            Numbers<br>
            Minimum length: 6
        </p>
    </div>
</div>


<% include partials/footer %>