#navbar {
  margin-bottom: 50px;
}

.controls {
  margin-top: 20px;
}

.delete-form {
  display: inline;
}

.commentBtn {
  border: none;
  background: none;
}

.description.container {
  padding-top: 10px;
  padding-bottom: 10px;
}

#rules {
  padding: 0;
  padding-left: 40px;
}

#rules ul {
  list-style-type: none;
}

.ui.menu span.item {
	padding: 0;
}

#messageBox {
  transition: all 0.5s;
  position: fixed;
  z-index: 1;
  left: 75%;
  width: 18%;
}

.ui.inverted.menu {
  background: #303030;
}

.container .login {
  width: 70%;
  padding-left: 30%;
}

.loginBtn {
  width: 100%;
}